@model IEnumerable<GrupoPlennus.HabitacaoMvc.ViewModels.DependenteViewModel>

@{
    ViewBag.Title = "Dependente";
    var PessoaId = ViewBag.PessoaId;
}

<h2>Dependente</h2>

<p>
    @Html.ActionLink("Create New", "DepententeCreate", new { id = PessoaId })

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SexoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cpf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GrauInstrucaoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RendaComprovada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RendaNaoComprovada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deficiente)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SexoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrauInstrucaoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RendaComprovada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RendaNaoComprovada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deficiente)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
