@model GrupoPlennus.HabitacaoMvc.ViewModels.PessoaViewModel

@{
    Layout = "~/Views/Shared/_Relatorio.cshtml";
}


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Ficha de inscrição - @Html.DisplayFor(model => model.Entidade.NomeFantasia)</h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item">
                <b>@Html.DisplayNameFor(model => model.Nome):</b> @Html.DisplayFor(model => model.Nome)
                | <b>@Html.DisplayNameFor(model => model.DataNascimento):</b> @Html.DisplayFor(model => model.DataNascimento)
                | <b>@Html.DisplayNameFor(model => model.Cpf):</b> @Html.DisplayFor(model => model.Cpf)
                | <b>@Html.DisplayNameFor(model => model.Nis):</b> @Html.DisplayFor(model => model.Nis)
                | <b>@Html.DisplayNameFor(model => model.SexoId):</b> @Html.DisplayFor(model => model.Sexo.Descricao)
                | <b>@Html.DisplayNameFor(model => model.NacionalidadeId):</b> @Html.DisplayFor(model => model.Nacionalidade.Descricao)
            </li>
            <li class="list-group-item">
                <b>@Html.DisplayNameFor(model => model.RgNum):</b> @Html.DisplayFor(model => model.RgNum)
                | <b>@Html.DisplayNameFor(model => model.RgOrgaoEmissor):</b> @Html.DisplayFor(model => model.RgOrgaoEmissor)
                | <b>@Html.DisplayNameFor(model => model.RgSiglaOrgaoEmissor):</b> @Html.DisplayFor(model => model.RgSiglaOrgaoEmissor)
                | <b>@Html.DisplayNameFor(model => model.RgDataExpedicao):</b> @Html.DisplayFor(model => model.RgDataExpedicao)
                | <b>@Html.DisplayNameFor(model => model.NaturalidadeId):</b> @Html.DisplayFor(model => model.Naturalidade.Descricao)
                | <b>@Html.DisplayNameFor(model => model.Pis):</b> @Html.DisplayFor(model => model.Pis)
            </li>

            <li class="list-group-item">
                <b>@Html.DisplayNameFor(model => model.TituloEleitor):</b> @Html.DisplayFor(model => model.TituloEleitor)
                | <b>@Html.DisplayNameFor(model => model.TituloEleitorZona):</b> @Html.DisplayFor(model => model.TituloEleitorZona)
                | <b>@Html.DisplayNameFor(model => model.TituloEleitorSecao):</b> @Html.DisplayFor(model => model.TituloEleitorSecao)
                | <b>@Html.DisplayNameFor(model => model.TituloEleitorMunicipio):</b> @Html.DisplayFor(model => model.TituloEleitorMunicipio)
                | <b>@Html.DisplayNameFor(model => model.TituloEleitorUf):</b> @Html.DisplayFor(model => model.TituloEleitorUf)
            </li>
            <li class="list-group-item">
                <b>@Html.DisplayNameFor(model => model.EstadoCivilId):</b> @Html.DisplayFor(model => model.EstadoCivil.Descricao)
                | <b>@Html.DisplayNameFor(model => model.Profissao):</b> @Html.DisplayFor(model => model.Profissao)
                | <b>@Html.DisplayNameFor(model => model.AtividadeId):</b> @Html.DisplayFor(model => model.Atividade.Descricao)
                | <b>@Html.DisplayNameFor(model => model.TempoTrabalhoAtividadeAnos):</b> @Html.DisplayFor(model => model.TempoTrabalhoAtividadeAnos)
                | <b>@Html.DisplayNameFor(model => model.TempoTrabalhoAtividadeMeses):</b> @Html.DisplayFor(model => model.TempoTrabalhoAtividadeMeses)
                | <b>@Html.DisplayNameFor(model => model.LocalOndeExerceAtividade):</b> @Html.DisplayFor(model => model.LocalOndeExerceAtividade)
                | <b>@Html.DisplayNameFor(model => model.BancoAgencia):</b> @Html.DisplayFor(model => model.BancoAgencia)
                | <b>@Html.DisplayNameFor(model => model.BancoOperacao):</b> @Html.DisplayFor(model => model.BancoOperacao)
                | <b>@Html.DisplayNameFor(model => model.BancoConta):</b> @Html.DisplayFor(model => model.BancoConta)
                | <b>@Html.DisplayNameFor(model => model.ContaConjuta):</b> @Html.DisplayFor(model => model.ContaConjuta)
                | <b>@Html.DisplayNameFor(model => model.MenorEmancipado):</b> @Html.DisplayFor(model => model.MenorEmancipado)
                | <b>@Html.DisplayNameFor(model => model.MenorAssistido):</b>  @Html.DisplayFor(model => model.MenorAssistido)
                | <b>@Html.DisplayNameFor(model => model.GrauInstrucaoId):</b> @Html.DisplayFor(model => model.GrauInstrucao.Descricao)

            </li>
            <li class="list-group-item">
                <b>@Html.DisplayNameFor(model => model.Cep):</b> @Html.DisplayFor(model => model.Cep)
                | <b>@Html.DisplayNameFor(model => model.Logradouro):</b> @Html.DisplayFor(model => model.Logradouro)
                | <b>@Html.DisplayNameFor(model => model.Numero):</b> @Html.DisplayFor(model => model.Numero)
                | <b>@Html.DisplayNameFor(model => model.Complemento):</b> @Html.DisplayFor(model => model.Complemento)
                | <b>@Html.DisplayNameFor(model => model.Bairro):</b> @Html.DisplayFor(model => model.Bairro)
                | <b>@Html.DisplayNameFor(model => model.Cidade):</b> @Html.DisplayFor(model => model.Cidade)
                | <b>@Html.DisplayNameFor(model => model.Uf):</b> @Html.DisplayFor(model => model.Uf)
                | <b>@Html.DisplayNameFor(model => model.Telefone):</b> @Html.DisplayFor(model => model.Telefone)
                | <b>@Html.DisplayNameFor(model => model.Celular):</b> @Html.DisplayFor(model => model.Celular)
                | <b>@Html.DisplayNameFor(model => model.Email):</b> @Html.DisplayFor(model => model.Email)
                | <b>@Html.DisplayNameFor(model => model.ResidenciaAtualId):</b> @Html.DisplayFor(model => model.ResidenciaAtual.Descricao)
            </li>
            <li class="list-group-item">
                <b>@Html.DisplayName("Renda"):</b> @Html.DisplayFor(model => model.Renda.Descricao)
                | <b>@Html.DisplayNameFor(model => model.UltimoEmpregoAnos):</b> @Html.DisplayFor(model => model.UltimoEmpregoAnos)
                | <b>@Html.DisplayNameFor(model => model.UltimoEmpregoMes):</b> @Html.DisplayFor(model => model.UltimoEmpregoMes)
                | <b>@Html.DisplayNameFor(model => model.UltimoEmpregoAnoDesligamento):</b> @Html.DisplayFor(model => model.UltimoEmpregoAnoDesligamento)
                | <b>@Html.DisplayNameFor(model => model.CargoFuncao):</b> @Html.DisplayFor(model => model.CargoFuncao)
                | <b>@Html.DisplayNameFor(model => model.DocumentosComplementaresId):</b> @Html.DisplayFor(model => model.DocumentosComplementares.Descricao)

            </li>
            <li class="list-group-item">
                <b>@Html.DisplayNameFor(model => model.TipoImovelId):</b> @Html.DisplayFor(model => model.TipoImovel.Descricao)
                | <b>@Html.DisplayNameFor(model => model.TipoVeiculoId):</b> @Html.DisplayFor(model => model.TipoVeiculo.Descricao)
                | <b>@Html.DisplayNameFor(model => model.CartaoCredito):</b> @Html.DisplayFor(model => model.CartaoCredito)
                | <b>@Html.DisplayNameFor(model => model.ContaOutrosBancos):</b> @Html.DisplayFor(model => model.ContaOutrosBancos)
                | <b>@Html.DisplayNameFor(model => model.AplicacoesForaCaixaId):</b> @Html.DisplayFor(model => model.AplicacoesForaCaixa.Descricao)
            </li>
            <li class="list-group-item">
                <b>@Html.DisplayNameFor(model => model.DependentesQtd):</b> @Html.DisplayFor(model => model.DependentesQtd)
                | <b>@Html.DisplayNameFor(model => model.DependentesQtdSemRenda):</b> @Html.DisplayFor(model => model.DependentesQtdSemRenda)
                | <b>@Html.DisplayNameFor(model => model.DependentesTotalRendaLiquida):</b> @Html.DisplayFor(model => model.DependentesTotalRendaLiquida)
                | <b>@Html.DisplayNameFor(model => model.PessoaIdosaQtd):</b> @Html.DisplayFor(model => model.PessoaIdosaQtd)
                | <b>@Html.DisplayNameFor(model => model.PessoaDeficienteQtd):</b> @Html.DisplayFor(model => model.PessoaDeficienteQtd)
                | <b>@Html.DisplayNameFor(model => model.PessoaMoradiaQtd):</b> @Html.DisplayFor(model => model.PessoaMoradiaQtd)


            </li>
        </ul>


        <div>
            @Html.Action(
            "ConjugePorResponsavel",
            "Conjuge",
             new { id = Model.Id })
        </div>
        <div>
            @Html.Action(
            "DependentesPorResponsavel",
            "Dependente",
             new { id = Model.Id })
        </div>
    </div>
    <div class="panel-footer">Assinatura</div>
</div>





<p>
    @Html.ActionLink("  Atualizar dados", "Edit", "Pessoa", new { id = Model.Id }, new { @class = "btn btn-warning fa fa-file-text" }) |
    @Html.ActionLink("  VOLTAR", "Index", "Pessoa", new { area = "" }, new { @class = "btn btn-danger fa fa-reply" })
</p>

