@model IEnumerable<GrupoPlennus.HabitacaoMvc.ViewModels.PessoaViewModel>

@{
    ViewBag.Title = "Chefes de familia";
}

<h3>Chefes de Familia</h3>
<p>
    @Html.ActionLink(" Nova Pessoa Chefe de Familia", "Create","Pessoa", new { area = "" }, new { @class = "btn btn-success fa fa-user-plus" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cpf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nis)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cpf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nis)
        </td>
        
        <td>
           @Html.ActionLink("  Atualizar dados", "Edit", "Pessoa", new { id = item.Id }, new { @class = "btn btn-warning fa fa-file-text" }) |
            @Html.ActionLink(" Ficha", "Details", new { id=item.Id }, new { @class = "btn btn-primary fa  fa-info-circle" }) |
            @Html.ActionLink(" Conjuge", "Conjuge", new { id = item.Id }, new { @class = "btn btn-success fa  fa-user" }) |
            @Html.ActionLink(" Dependentes", "Dependente", new { id = item.Id }, new { @class = "btn btn-success fa  fa-users" })
        </td>
    </tr>
}

</table>
