@model GrupoPlennus.HabitacaoMvc.ViewModels.EntidadeViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Entidade</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RazaoSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RazaoSocial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeFantasia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeFantasia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cnpj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cnpj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Logradouro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Logradouro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Complemento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Complemento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bairro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Uf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Responsavel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Responsavel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResponsavelCpf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResponsavelCpf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResponsavelCargo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResponsavelCargo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntidadeTiposId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntidadeTipos.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataFundacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFundacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OutrasExperienciasHabitacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OutrasExperienciasHabitacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FiliacaoMovimentoNacional)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FiliacaoMovimentoNacional)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Banco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Banco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BancoAgencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BancoAgencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BancoConta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BancoConta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BancoOperacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BancoOperacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntidadeMasterId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntiadeMaster.NomeFantasia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("  Atualizar dados", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning fa fa-file-text" }) |
    @Html.ActionLink("  VOLTAR", "Index", new { area = "" }, new { @class = "btn btn-danger fa fa-reply" })
</p>
